body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-family: League-Gothic;
    // font-family:  Calendas-Plus;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    display: flex;
    flex-direction: column;
}

.review-container {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 500;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.text2 {
    margin-top: 10px;
}

.rating {
    color: gold;
    font-size: 20px;
    margin-left: 5px;
    font-weight: 900;
}