body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-family: League-Gothic;
    // font-family:  Calendas-Plus;
    background: #F1F1F1;
    font-family: rockwell;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
.divider{
    border-top: 1px dashed silver;
    height:10px;
    margin: 20px 10px 20px 0px;
    width: 100%;

    // This trick works for both horizontal and vertical borders:


}
.container {
    display: flex;
    flex-direction: column;
}

.container-margin-top {
    margin-top: 40px;
}

.movie-poster {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    width: 65%;
    border: 5px solid #fefcfa;

    @media (max-width: 800px) {
        width: auto;
    }
}

.title-and-date-and-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.review-container {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 10px 20px;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.text {
    margin-top: 10px;
    font-size: 20px;
}

.text2 {
    margin-top: 10px;
    font-size: 20px;
}

.rating {
    color: #fefcfa;;
    font-size: 20px;
    margin-left: 5px;
    font-weight: 900;
    text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    margin-right: 20px;
}

.title-and-date {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.links-container {
    margin: 40px 10px 0 10px;
    display: block;
}

.title-link {
    background: none;
    border: none;
    padding: 1;
    text-indent: 0;
    margin: 2px 4px 2px 4px;
    font-family: rockwell;
}

.title-link:hover {
    border-radius: 3px;
    background: #CDE1FF;
    
}

.toggle-show-links{
    font-size: 15px; 
    background: none;
    border: none;
    padding: 1;
    text-indent: 0;
    margin: 2px 4px 2px 4px;
    font-family: rockwell;
}

.toggle-show-links:hover{
    border-radius: 3px;
    background: #CDE1FF;
}


.top-row {
    position: absolute;
    top: 0;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    justify-content: center;
}