body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-family: League-Gothic;
    // font-family:  Calendas-Plus;
    background: #F1F1F1;
    font-family: rockwell;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px 0px 0px 0px;
    width: 100vw;
}


.divider {
    display: flex;
    border-top: 1px solid #485865;
    border-radius: 10px;
    width: 100px;
    height: 1px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container-margin-top {
    // margin-top: 40px;
}

.below-title-links{
    margin-top: 40px;
}

.movie-poster {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    width: 65%;
    margin-bottom: 25px;

    transition: transform 1s ease 0s;

    &:hover {
        transform: perspective(800px) rotateY(-4deg);
    }

    border-radius:20px;
    background:linear-gradient(0.06deg, rgba(250, 250, 250, 1) 0%,
        rgba(246, 246, 246, 1) 29.62%,
        rgba(234, 234, 234, 1) 58.47%,
        rgba(215, 215, 215, 1) 86.92%,
        rgba(204, 204, 204, 1) 99.22%);
    box-shadow:-4px 8px 8px rgba(0, 0, 0, 0.1),
    -8px 16px 16px rgba(0, 0, 0, 0.1),
    -16px 32px 32px rgba(0, 0, 0, 0.15),
    -32px 64px 64px rgba(0, 0, 0, 0.25);
}

.title-and-date-and-image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.review-container {
    display: flex;
    flex-direction: column;
    margin: 40px 20px 40px 20px;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;

}

.text {
    margin-top: 10px;
    font-size: 20px;
}

.text2 {
    margin-top: 10px;
    font-size: 20px;
}

.rating {
    color: #fefcfa;
    font-size: 20px;
    margin-left: 5px;
    font-weight: 900;
    text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
    margin-right: 20px;
}

.title-and-date {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.links-container {
    margin: 40px 10px 0 10px;
    display: block;
}

.title-link {
    background: none;
    border: none;
    padding: 1;
    text-indent: 0;
    margin: 2px 4px 2px 4px;
    font-family: rockwell;
}

.title-link:hover {
    border-radius: 3px;
    background: #CDE1FF;
}

.toggle-show-links {
    font-size: 15px;
    background: none;
    border: none;
    padding: 1;
    text-indent: 0;
    margin: 2px 4px 2px 4px;
    font-family: rockwell;
}

.toggle-show-links:hover {
    border-radius: 3px;
    background: #CDE1FF;
}


.top-row {
    position: absolute;
    top: 0;
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    justify-content: center;
}


  
  .spin-y-on-hover:hover {
    animation: spin-y 1s infinite;
  }
  
  @keyframes spin-y {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
  
  .spin-on-hover:hover {
    animation: spin 1s infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotateX(0deg) rotateY(0deg);
    }
    to {
      transform: rotateX(360deg) rotateY(360deg);
    }
  }

  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .spin-on-hover:hover {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  